.dritte-filter-container {
    display: flex;
    flex-wrap: wrap;
}

ul {
    padding: 0px;
}

ul.filter-check {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0px;
}

ul.filter-check li {
    position: relative;
}

ul.filter-check li input {
    position: absolute;
    opacity: 0;
}

ul.filter-check li label {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: #777777;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
    padding: 12px 13px 13px 12px;
    cursor: pointer;
    background: #ebf5fc;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
            3px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-right: 5px;
}

ul.filter-check li:hover {
    outline: none;
    background-color: transparent !important;
}

ul.filter-check li input[type="checkbox"]:checked + label,
ul.filter-check li input[type="radio"]:checked + label {
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
              inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}

ul.paginate-pages li {
    padding: 5px 8px;
    margin: 0px 4px;
    background-color: #dcdcdc;
    color: #aaaaaa;
    min-width: 20px;
    min-height: 20px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

ul.paginate-pages p {
    padding: 5px 8px;
    margin: 0px 4px;
    color: rgb(170, 170, 170);
    min-width: 20px;
    min-height: 20px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

.remove-text {
    display: none;
}

.filter-text-item:valid ~ .remove-text {
    display: initial;
}

.no-data {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #757575;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
    font-family: sans-serif;
}

.dritte-hide {
    display: none;
}

.dritte-animate-container {
    margin: 5px 0px;
}

button {
    padding: 7px 10px;
}

input[type=text] {
    height: 20px;
}

select {
    height: 45px;
}

input[type=text],
select {
    width: 200px;
    padding: 6px 10px;
    border-radius: 6px;
    margin-right: 5px;
    border: 1px solid #959595;
    color: #666666;
}

/* li.active,
li:hover {
    background-color: #3299ff !important;
    color: #fff !important;
}

li.prev,
li.next {
    color: #fff !important;
} */